page-tab1 {
	.icon-clima{
	    zoom: 2.0;
	};

	.clima-number{
	    font-size: 2.7em;
	};
	
	.no-margin{
		margin:0
	}
	.salution-turn{
		font-size: 0.8em;
	};
	.salution{
		font-size: 1.9em;
	    font-weight: 500;
	    padding-bottom: 6%;
	    padding-top: 5%;
	}

}
